/* IniciarSesion.css */
.iniciar-sesion-container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #05539c;
}

.form {
   
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.form img {
    display: block;
    margin: 0 auto 20px;
    max-width: 40%;
}

.form label {
   
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.form input {
    color: #000;
    width: 93%;
    padding: 10px;
    background-color: #fff;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 100%;
}

.form button:hover {
    background-color: #0056b3;
}

.registrarse-button {
    margin-top: 10px;
    text-align: center;
}

.registrarse-button a {
    
    text-decoration: none;
    color: #f3edef;
    font-size: 15px;
}

.error-mensaje {
    color: #ff6347;
    font-size: 14px;
    margin-top: 10px;
}

.existe-cliente-mensaje {
    color: #28a745;
    font-size: 14px;
    margin-top: 10px;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .form {
        width: 80%;
    }
}